<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
>

<f:view>

    <h:head>
        <title>Labka 3</title>
        <link rel="icon" href="/img/puppy.ico"/>


        <h:outputStylesheet library="styles" name="mainStyle.css"/>
        <h:outputStylesheet library="styles" name="style.css"/>


        <h:outputScript library="scripts" name="jquery-3.5.1.min.js"/>
        <h:outputScript id="h_graph_script" library="scripts" name="graph.js"/>
        <h:outputScript library="scripts" name="clock.js"/>
        <h:outputScript id="h_script" library="scripts" name="script.js"/>

    </h:head>

    <h:body>
        <h:form id="return_form" style="display: none;">
            <h:commandButton action="toStartPage" id="return_button"/>
        </h:form>
        <table id="main_table" style="border: 0 solid black;">

            <tr>
                <td id="main_header" class='table_title' colspan="2">
                    <span style="float: left">Добрягин Михаил Александрович (P3231)</span>
                    <span style="float: right">33341</span>
                </td>
            </tr>

            <tr class="input_tr">
                <td class="card card_left" id="card_top">
                    <div class="card_title table_title" style="border-radius: 20px 5px 0 0;">
                        Область
                    </div>

                    <div class="card_space">
                        <h:panelGroup id="h_graph">
                        <svg id="graph" width="220" height="220" class="svg-graph">

                            <!-- X-Axis -->
                            <line class="axis" x1="10" y1="110" x2="210" y2="110" stroke="black"/>
                            <polygon points="210,110 200,105 200,115"/>
                            <!-- Y-Axis -->
                            <line class="axis" x1="110" y1="10" x2="110" y2="210" stroke="black"/>
                            <polygon points="110,10 105,20 115,20"/>

                            <!-- X-Axis coordinates-->
                            <line class="coordinate-line" x1="43" y1="105" x2="43" y2="115" stroke="black"/>
                            <text class="coordinate-text" x="33" y="100" font-size="14">-R</text>

                            <line class="coordinate-line" x1="76" y1="105" x2="76" y2="115" stroke="black"/>
                            <text class="coordinate-text" x="66" y="100" font-size="14">-R/2</text>

                            <line class="coordinate-line" x1="143" y1="105" x2="143" y2="115" stroke="black"/>
                            <text class="coordinate-text" x="138" y="100" font-size="14">R/2</text>

                            <line class="coordinate-line" x1="176" y1="105" x2="176" y2="115" stroke="black"/>
                            <text class="coordinate-text" x="171" y="100" font-size="14">R</text>

                            <!-- Y-Axis coordinates-->
                            <line class="coordinate-line" x1="105" y1="176" x2="115" y2="176" stroke="black"/>
                            <text class="coordinate-text" x="120" y="181" font-size="14">-R</text>

                            <line class="coordinate-line" x1="105" y1="143" x2="115" y2="143" stroke="black"/>
                            <text class="coordinate-text" x="120" y="148" font-size="14">-R/2</text>

                            <line class="coordinate-line" x1="105" y1="76" x2="115" y2="76" stroke="black"/>
                            <text class="coordinate-text" x="120" y="81" font-size="14">R/2</text>

                            <line class="coordinate-line" x1="105" y1="43" x2="115" y2="43" stroke="black"/>
                            <text class="coordinate-text" x="120" y="48" font-size="14">R</text>

                            <!-- Triangle -->
                            <polygon class="svg-figure triangle-figure" points="110,110 110,43 76,110"
                                     fill="blue" fill-opacity="0.25" stroke="darkblue" stroke-opacity="0.5"/>

                            <!-- Circle -->
                            <path class="svg-figure circle-figure" d="M 43 110 A 66 66 0 0 0 110 176 L 110 110 Z"
                                  fill="blue" fill-opacity="0.25" stroke="darkblue" stroke-opacity="0.5"/>

                            <!-- Rectangle -->
                            <polygon class="svg-figure rectangle-figure" points="110,143 110,110 176,110 176,143"
                                     fill="blue" fill-opacity="0.25" stroke="darkblue" stroke-opacity="0.5"/>

                            <c:forEach var="attempt" items="#{attemptDAO.getAll()}">
                                <circle class="point" fill='${attempt.result != 0 ? "#08E72AFF" :  "#ff5454"}' fill-opacity="0.5" stroke="#003850" stroke-width="1" cx="#{attempt.x*(176.-110.)/attemptBean.r+110.}" cy="#{110. - attempt.y*(176.- 110.)/attemptBean.r}" r="2"/>
                            </c:forEach>
                            <script>
                                $('#graph').on('click', clickGraph);
                            </script>
                        </svg>
                        </h:panelGroup>
                    </div>

                </td>

                <td rowspan="2" class="card" id="card_right">
                    <div style="border-radius: 5px 20px 0 0;" class="card_title table_title top_title">
                        Результаты
                    </div>

                    <div class="card_space">
                        <table class="result_table" style="height:5%;">
                            <tr style="background: WhiteSmoke;">
                                <th class="input_data_column">X</th>
                                <th class="input_data_column">Y</th>
                                <th class="input_data_column">R</th>
                                <th class="time_column">Время запуска</th>
                                <th class="time_column">Время работы</th>
                                <th class="result_column">ВЕРДИКТ</th>
                            </tr>
                        </table>

                        <div style="overflow-x: auto; height: 95%;">
                            <h:panelGroup id="h_result_table_body">
                            <table id="result_table_body" class="result_table">
                                <tbody>
                                <c:forEach var="attempt" items="#{attemptDAO.getAll()}">
                                    <tr>
                                        <td class="input_data_column">${attempt.x}</td>
                                        <td class="input_data_column">${attempt.y}</td>
                                        <td class="input_data_column">${attempt.r}</td>
                                        <td class="time_column">${attempt.curTime}</td>
                                        <td class="time_column">${attempt.execTime}</td>
                                        <td class="result_column">
                                            <c:choose>
                                            <c:when test="${attempt.result != 0}">
                                                <img src="../img/tick.svg" alt="tick"/>
                                            </c:when>
                                            <c:otherwise>
                                                <img src="../img/cross.svg" alt="cross"/>
                                            </c:otherwise>
                                            </c:choose>
                                        </td>
                                    </tr>
                                </c:forEach>
                                </tbody>

                            </table>
                            </h:panelGroup>
                        </div>
                    </div>

                    <div style="border-radius: 0 0 20px 5px;" class="card_title table_title bottom_title">
                        <span id="clock"/>
                    </div>
                </td>
            </tr>

            <tr>
                <td class="card card_left" id="card_down">
                    <div class="card_space">
                        <h:form id="input_form">
                            <h:inputText id="hidden_x" value="${attemptBean.x}" style="display: none;">
                                <f:ajax event="change" immediate="true" listener="${attemptBean.change}"/>
                            </h:inputText>
                            <h:inputText id="hidden_y" value="${attemptBean.y}" style="display: none;">
                                <f:ajax event="change" immediate="true" listener="${attemptBean.change}"/>
                            </h:inputText>
                            <table id="input_table">

                                <!-- X -->
                                <tr class="input_tr">
                                    <td class="input_label"><label id="x_label">X:</label></td>

                                    <td class="input_values">
                                        <div class="input_div x_input_div">
                                            <ace:sliderEntry length="200px" id="x_sliderEntry" min="-5" max="5" stepPercent="10" value="${attemptBean.x}" valueChangeListener="${attemptBean.xSliderChanged}">
                                                <ace:ajax event="slide" execute="@this" render="x_duplicate @this" />
                                            </ace:sliderEntry>
                                            <h:outputLabel id="x_duplicate" class="duplicate_label" value="${attemptBean.x}"/>
                                        </div>
                                    </td>
                                </tr>

                                <!-- Y -->
                                <tr class="input_tr">
                                    <td class="input_label">
                                        <label id="y_label" for="y_text">Y:</label>
                                    </td>

                                    <td class="input_div">
                                        <h:inputText name="y_text" id="y_text" title="Значение из (-3;5)" maxlength="5" value="${attemptBean.y}" valueChangeListener="${attemptBean.yChanged}">
                                            <f:ajax event="change" render="@this" immediate="true"/>
                                        </h:inputText>
                                    </td>
                                </tr>

                                <!-- R -->
                                <tr class="input_tr">
                                    <td class="input_label"><label id="r_label">R:</label></td>

                                    <td class="input_values">
                                        <div class="input_div r_input_div">
                                            <ace:sliderEntry length="200px" id="r_sliderEntry" min="0" max="12" stepPercent="8.33333" value="${(attemptBean.r-2.)*4.}" valueChangeListener="${attemptBean.rSliderChanged}">
                                                <ace:ajax event="slide" execute="@this" render="@this r_duplicate"/>
                                                <ace:ajax event="slideEnd" execute="@this" render="@this r_duplicate h_graph"/>
                                            </ace:sliderEntry>
                                            <h:outputLabel id="r_duplicate" class="duplicate_label" value="${attemptBean.r}"/>
                                        </div>
                                    </td>

                                </tr>

                                <!-- Buttons -->
                                <tr>
                                    <td colspan="2">
                                        <div class="buttons">
                                            <input id="submit_button" class="button" type="button" onclick="submitForm()" value="Отправить"/>

                                            <h:commandButton id="submit_button_real" style="display: none;">
                                                <f:ajax execute="@this" render="h_graph h_result_table_body @form" listener="${attemptDAO.add(attemptBean.check())}"/>
                                            </h:commandButton>

                                            <h:commandButton id="reset_button_real" style="display: none;">
                                                <f:ajax execute="@this" render="h_graph h_result_table_body @form" listener="${attemptDAO.delete()}"/>
                                            </h:commandButton>
                                            <input id="reset_button" class="button" type="reset" value="Удалить всё"/>

                                            <input class="button" type="button" value="Назад" onclick="toIndexPage()"/>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </h:form>
                    </div>
                    <div style="border-radius: 0 0 5px 20px;" class="card_title table_title">
                        Значения
                    </div>

                </td>
            </tr>


        </table>


    </h:body>
</f:view>

</html>
