<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      >


    <h:head>
        <title>Labka 3</title>
        <link rel="icon" href="img/puppy.ico"/>

        <h:outputStylesheet library="styles" name="startPage.css"/>
        <h:outputStylesheet library="styles" name="mainStyle.css"/>

        <h:outputScript library="scripts" name="jquery-3.5.1.min.js"/>
        <h:outputScript library="scripts" name="clock.js"/>
    </h:head>

    <h:body id="mybody">

        <table id="main_table">
            <tr>
                <td id="main_header" class='table_title' colspan="2">
                    <span style="float: left">Добрягин Михаил Александрович (P3231)</span>
                    <span style="float: right">33341</span>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="clock_div">
                        <span id="clock"/>
                        <h:form id="continueForm">
                            <h:panelGroup>
                                <h:commandButton id="continueButton" action="toMainPage" value="Продолжить"/>
                            </h:panelGroup>
                        </h:form>
                    </div>
                </td>
            </tr>
        </table>
    </h:body>
</html>
