#clock_div {
    height: 500px;
    position: relative;
    text-align: center;

    /*border: 1px solid black;*/
}

#clock {
    color: #003850;
    font-family: a_LCDNova, arial;
    font-size: 3em;

    height: 100px;
    width: 200px;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

#continueForm {
    position: absolute;
    top: 50%;
    margin-top: 10px;
    width: 200px;
    left: 50%;
    margin-left: -100px;
}