
#input_form\:submit_button_real
{
    /*display: none;*/
}


.card {
    /*border: 1 px solid black;*/
    vertical-align: top;
}


.card_left {
    width: 40%;
    height: 30%; /*30*2 + 10*3 + 10*/
}

.card_title {
    height: 30px;
}

.card_space {
    border: 2px solid LightGray;
}

.card_left .card_title, .card_right .top_title {
}

.card_left .card_space {
    height: 220px;
<!-- margin-right: 5 %;
-->


}

.card_right {
    width: 50%;
}

#card_top .card_title {
    margin-top: 5px;
}

#card_down .card_title {
    margin-bottom: 5px;
}

#card_right .top_title {
    margin-top: 5px;
    margin-left: 5%;
}

#card_right .bottom_title {
    margin-bottom: 5px;
    margin-left: 5%;
}

#clock {
    color: #003850;
    font-family: a_LCDNova, arial;
    font-size: 1em;
}

#card_right .card_space {
    margin-left: 5%;

    height: 445px;
}

#input_table {
    border: 0 solid red;
    width: 100%;
}

.input_label {
    width: 5%;
    position: absolute;
    left: 0;
    border: 0 solid black;
    padding-top: 15px;
    font-weight: bolder;
}

.input_values {
    width: 90%;
}

.input_div {
    position: relative;
    font-size: 14px;
    height: 30px;
    text-align: center;
    top: 10px;
}

.input_div .ui_slider {
    position: absolute;
    width: 200px;
    margin-left: -100px;
    /*width: 60%;*/
    /*left: 5%;*/
    /*left: 0;*/
    /*top: 15px;*/
}

.duplicate_label {
    position: absolute;
    width: 30%;
    left: 65%;
    /*right: 0;*/
    /*top: 0;*/
}

.x_input_div {
    display: inline-block;
}

.r_input_div {
    display: inline-block;
}

.input_tr {
    height: 50px;
}

.buttons {
    margin-top: 30px;
}

.buttons input {
    border-radius: 7px 7px 7px 7px;
}


#card_right .card_space {

}

#card_right .card_space table {
    width: 100%;
}

#card_right .card_space table th {

}

.result_table {
    border-spacing: 0;
    font-family: MarkerFelt, fantasy;
}

.result_table th {
    font-weight: lighter;
    color: #2F4F4F;
<!-- DarkSlateGray --> <!-- LightYellow4 8 B8B7A-- >
}


.result_table .input_data_column {
    width: 10%;
}

.result_table .time_column {
    width: 26%;
}


#result_table_body {
    border-spacing: 0 10px;
}

.result_column {
    height: 15px;
}

.result_column img {
    height: 100%;
}

/* Стили для скролла */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}